.points {
    display: flex;
    width: 3rem;
    height: 1rem;
    background-color: var(--color-old-silver);
    border: 1px solid white
}

.points div{
    display: flex;
    width: 1rem;
    height: 1rem;
}

.point-one{

   border-right: 1px solid white;
}

.point-two{
    border-right: 1px solid white;
 }
